appdirs==1.4.3
beautifulsoup4==4.4.1
Django==1.9.6
EasyProcess==0.2.3
futures==3.0.5
gunicorn==19.6.0
nltk==3.2.4
oauthlib==2.0.2
packaging==16.8
pyenchant==1.6.8
pyparsing==2.2.0
PyVirtualDisplay==0.2.1
requests==2.14.2
requests-oauthlib==0.8.0
selenium==3.4.3
six==1.10.0
tweepy==3.5.0
