    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Mes', '2016', '2017'],
          {% for i in listaMesesC20167 %}
          ['{{i.1}}',  {{i.0}}, {{i.2}}],
           {% endfor %}
        ]);

        var options = {
          title: 'Tweets en el periodo 2016-2017',
          hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>